body{
    margin: 0;
    padding: 0;
    font-family: 'Otomanopee One', sans-serif;
}

h1{
    font-size: 50px;
}

.orange-color{
    color: orange;
}

.section-1{
    
    display: flex;
    background: url('./image/top-banner.png');
    background-position: inherit;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.half-left{
    width: 50%;
    padding-left: 8%;
}

.half-left a{
    padding: 10px 35px;
    font-size: 16px;
    background: linear-gradient(45deg, lightsalmon, tomato);
    border: none;
    border-radius: 5px;
    color:  white;
    text-transform: uppercase;
    text-decoration: none;
}

.half-right{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.half-right img{
    width: 75%;
}


.section-2{
    display: flex;
    background: url('./image/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.Section2-left{
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Section2-left img{
    width: 75%;
}

.Section2-right{
    width: 50%;
    padding-left: 8%;
    padding-right: 8%;
}

.Section2-right a{
    padding: 10px 35px;
    font-size: 16px;
    background: linear-gradient(45deg, lightsalmon, tomato);
    border: none;
    border-radius: 5px;
    color:  white;
    text-transform: uppercase;
    text-decoration: none;
}

.section-3{
    height: 600px;
    background: url('./image/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left center;
    text-align: center;
}

.section-3 h3{
    color: orange;
}

.container{
    width: 90%;
    margin: 100px auto 0px auto;
    display: flex;
    justify-content: center;
}

.box{
    width: 40%;
    margin: 0px 50px;
    padding: 30px 50px;
    box-shadow: 0px 5px 20px rgb(99, 98, 98);
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

.second{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}